{% extends "shopping/layout.html" %}

{% block body %}

    <main id="cartContainer">
        <!--{% if product_carts %}
            <h3>SHOPPING BAG</h3>
            <p>{{ count_carts }}</p>
            <div class="containerCartproducts">
                {% for product_cart in product_carts %}
                    <div class="containerCartProduct">
                        <img class="img_otherProduct img_p" src="{{ product_cart.img_url }}" alt="Zara">
                        <p class="title_product title_p">{{ product_cart.title|upper }}</p>
                        <p id="priceOtherProduct" class="price_product price_p">{{ product_cart.price }} USD</p>
                    </div>    
                {% endfor %}
            </div>
        {% else %}
            <p id="noProductsInBasket">Your basket is empty</p>    
        {% endif %}-->
    </main>

{% endblock %}

{% block script %}
    {% load static %} <script src="{% static 'shopping/javascript/cartStore.js' %}" type="module" async></script>
{% endblock %}