{% extends "shopping/layout.html" %}

{% block body %}
    <main class="containerPersonalInfo">
        <nav class="containerInfoPersonal">
            <a class="invoiceLinks" id="bill"  href="{% url 'invoice' %}">INVOICE</a>
            <a class="invoiceLinks" id="personal_info" href="{% url 'personal_info' %}">PERSONAL DETAILS</a>
            <a class="invoiceLinks" href="{% url 'logout' %}">LOG OUT</a>
        </nav>
        <div id="invoice">
            <h1 class="titleInvoice">INVOICE</h1>
            <div class="containerinvoice">
                Hola
            </div>
        </div>
    </main>
{% endblock %}