{% extends "shopping/layout.html" %}

{% block body %}

    <main id="containerOrder">
        <div class="subContainerOrder1">
            <h1 class="titleOrder">SHIPPING</h1>
            <div class="descriptionOrder">
                <div class="subDescriptionOrder1">
                    <h3 class="subTitleOrder">NUM ORDER: #{{ orderDetails.id }}</h3>
                    <p class="textinfo"><span>Date Of Payment:  </span> {{ orderDetails.created_at }}</p>
                    <p class="textinfo" style="padding-bottom: 1rem;"><span>Status: </span>{{ orderDetails.status }}</p>
                </div>
                <div>
                    <h3 class="subTitleOrder">YOUR DETAILS:</h3>
                    <p class="textinfo"><span>Name:  </span>{{ orderDetails.user_id }}</p>
                    <p class="textinfo"><span>Address:  </span>{{ orderDetails.address }}</p>
                </div>
            </div>    
            <h3 style="padding-top: 1rem;">TOTAL:  ${{ orderDetails.amount_pay }}</h3>
        </div>
        <div class="subContainerOrder2">
            <h1 class="titleOrder">DELIVERY</h1>
            <div class="containerOrderImages">
                {% for product in orderDetails.products.all %}
                    <div class="subContainerOrderImages">    
                        <p class="numberOfItemsBought">1 Item(s)</p>
                        <img src="{{ product.img_url }}" alt="{{ product.title }}" class="imgsOrder">
                    </div>
                {% endfor %}
            </div>    
        </div>
    </main>

{% endblock %}